body{
    font-size: 1.4em;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

#container2{
    border: solid black 1px;
    margin-top: 20%;
    margin-left: 30px;
    width: 40%;
}
p{
    padding: 20px;
}
@keyframes changeText {
    0% { content: "app native"; }
    33% { content: "single page app"; }
    66% { content: "interfacce web"; }
    100% { content: "app native"; }
}

#paragrafo::after {
    content: "app native";
    animation: changeText 3s infinite;
}
